.idea/
log/
*.iml
*.csv
.DS_Store
target/
*.swp
*.swo
*.log
logs/
/target
.project
.vagrant
.classpath
.settings
*.key
~*.doc
*.pdb
**/node_modules
**/webapp/Content-dist
**/webapp/Views-dist
**/webapp/build
**/webapp/manifest.json
qrcode.png
abc-web-in/src/main/webapp/tmp
jiagu.db
